@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'NotoSans-Bold';
    src: url(../Noto_Sans/NotoSans-Bold.ttf) format('truetype');
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: 7px solid  #FFDE00;
    border-radius: 3px;
    width: 300px;
    height: 400px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

.title {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
    font-size: 18px;
}

.name::first-letter {
    text-transform: capitalize;
}

.img {
    width: 300px;
    height: 200px;
    padding-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.info > p {
    padding-top: 5px;
}

.infoContainer {
    margin-top: 30px;
}

h2 {
    font-family: 'NotoSans-Bold', sans-serif;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.btn {
    font-family: 'Press Start 2P', cursive !important;
}

@media only screen and (max-width: 390px) {
    .infoContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2 {
        text-align: center;
        font-size: 22px;
    }
}